html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background: #cbf3f0;
  font-family: 'Noto Sans HK', sans-serif;
  color: #073b4c;
  font-size: 1.2em;
  position: relative;
  min-height: 100%;
  margin: 0;
}